@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"),
    url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: roboto-kmk;
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
