// Text color variables
$text-accent: #fff;
$text-regular: #a9a8a8;
$text-dark: #333;

// Font variables
$theme-font-headlines: 18px;
$theme-font-regular: 16px;
$theme-font-small: 14px;
$theme-regular-lineheight: 1.75;
$theme-font: roboto-kmk, sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

// Animation variables
$theme-transition: 500ms all ease-out;
