/* visually hidden */
.portfolio__title--hiden,
.card--hidden,
.feature__title--hiden,
.checkbox--hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
